* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 1px solid blue;
}

:root {
  --background-color: #7b0d1e;
  --card-color: #f8e5ee;
  --text-color: black;
  --button-color: #7b0d1e;
}

html {
  font-size: 16px;
}

.lighter-theme {
  --background-color: #f8e5ee;
  --card-color: #7b0d1e;
  --text-color: whitesmoke;
  --button-color: #f8e5ee;
}

/* Loading Page Styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  height: 8rem;
  width: 8rem;
  border-radius: 2rem;
  background-color: var(--card-color);
  color: var(--text-color);
}

.loading-wrapper div {
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--text-color);
  padding: 1.5rem;
  border-radius: 50%;
  border-top: 2px solid transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header button {
  border: none;
  background: none;
  color: var(--card-color);
  font-size: larger;
  padding: 0.5rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 100vw;
  max-width: 90vw;
  background-color: var(--card-color);
  border-radius: 1rem;
  position: relative;
}

.copy-alert {
  opacity: 0;
  top: 0;
  transform: translateY(0);
  position: absolute;
  font-size: 0.85rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.show {
  opacity: 1;
  transform: translateY(1rem);
}

.quote-container__copy {
  align-self: self-end;
  padding-right: 1rem;
}

.quote-container__copy button {
  background-color: var(--button-color);
  color: var(--card-color);
  border: none;
  border-radius: 1rem;
  padding: 0.2rem;
}

.quote-container__quotes {
  max-width: 100%;
  max-height: 100%;
}

.quote-container__quotes h3 {
  text-align: center;
}

.quote-container__quotes p {
  max-width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
  text-align: center;
}

.quote-container__quotes span {
  font-size: 1rem;
}

.quote-container__author {
  justify-self: end;
  padding-right: 1rem;
  max-width: 10%;
  background-color: orange;
}

.quote-container__author h5 {
  font-weight: 300;
  max-width: 100%;
}

#quote-content,
#quote-author-id,
#m-dash {
  transition: opacity 0.3s ease-in-out;
}

.quote-container hr {
  width: 80%;
}

.quote-container__new--quote button {
  background-color: var(--button-color);
  color: var(--card-color);
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-family: "Open Sans", sans-serif;
}

.footer__developer h6 {
  color: var(--card-color);
  font-weight: 300;
}
