* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 1px solid red;
}

:root {
  --background-color: #7b0d1e;
  --card-color: #f8e5ee;
  --text-color: black;
  --button-color: #7b0d1e;
}

html {
  font-size: 16px;
}

.lighter-theme {
  --background-color: #f8e5ee;
  --card-color: #7b0d1e;
  --text-color: whitesmoke;
  --button-color: #f8e5ee;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header button {
  border: none;
  background: none;
  color: var(--button-color);
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 80vw;
  max-width: 80vw;
}

.quote-container__copy {
  align-self: self-end;
  padding-right: 1rem;
}

.quote-container__quotes {
  max-width: 100%;
  max-height: 100%;
}

.quote-container__quotes h3 {
  text-align: center;
}

.quote-container__quotes p {
  max-width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
  text-align: center;
}

.quote-container__author {
  justify-self: end;
  padding-right: 1rem;
}

.quote-container hr {
  width: 100%;
}

.quote-container__new--quote button {
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-family: "Open Sans", sans-serif;
}

.footer__developer {
}
